<!DOCTYPE html>
<html lang="en">
<head>
    <% include wineHeader%>

    <title>Vinus</title>

    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/plugin.js" type="text/javascript"></script>
    <link href="/css/desktop.css" media="screen, projection" rel="stylesheet" type="text/css"/>

    <style>
        header .blur {
            position: absolute;
            background: url("/images/header-bg.jpg") no-repeat #2d2d2d;
            background-size: cover;
            background-position: top center;
            width: 100%;
            overflow: hidden;
            height: 460px;
            opacity: 0.9;
        }
    </style>

    <% include wineGA %>
</head>


<body>
<div id="wrapper">
    <header>
        <div class="blur"></div>
        <div class="content">
            <div id="about">
                <a href="<%= env.vinusHomeUrl %>"><img src="/images/VinusLogoWhite.png"></a>
                <h6>Remember every wine.<br/> Discover wines you'll love.</h6>
            </div>

            <div id="wine-img">
                <div class="box">
                    <img height="460" src="<%= imageUrl %>" width="460">
                    <% if(!!wineName) { %>
                    <h2><%= wineName %><br>
                        <%= wineMaker %>
                    </h2>
                    <% } %>
                </div>
            </div>
        </div>
    </header>


    <section class="content">
        <ul id="data">
            <li class="location">
                <!-- 					<i class="ss-icon">location</i> -->
                <!-- 					<h5>Hurstville Library</h5> -->
                <!-- 					<p>Local business</p> -->
            </li>
            <li>
                <!-- 					<i class="ss-icon">avatars</i> -->
                <ul class="people">
                    <li>
                        <!-- 							<a class="name" title="Wayne Wen"> -->
                        <!-- 								<img src="http://graph.facebook.com/744698419/picture?type=normal" width="40" height="40"> -->
                        <!-- 							</a> -->
                    </li>
                    <li>
                        <!-- 							<a class="name" title="Vivian Zhang"> -->
                        <!-- 							<img src="http://graph.facebook.com/612096632/picture" width="40" height="40" > -->
                        <!-- 							</a> -->
                    </li>
                </ul>
            </li>
        </ul>


        <ul id="comments">
            <div class="captured">
                <div>
                    <!-- 						<i class="ss-icon">camera</i> -->
                    <h6>Captured via Vinus</h6>
                </div>
            </div>
            <li>
                <div class="avatar">
                    <!--    <img src="http://graph.facebook.com/744698419/picture?type=normal" width="40"> -->
                </div>
                <div class="comment">
                    <h5><%= ownerName %><span><%= displayTime %></span></h5>
                    <p><%= content %></p>
                </div>
            </li>


            <li>
                <div class="signin-container">
                    <a class="app-store-badge" href="<%= iosAppUrl %>">Download on the App Store</a>
                    <!--   <a href="http://www.vinus.net.au" class="signin">Sign up for Vinus Beta</a> -->
                </div>
            </li>

        </ul>
    </section>


    <footer>
        <div class="content">
            <p class="copy">Vinus &copy; 2013</p>

            <div class="social">
                <a href="http://twitter.com/getvinus">
                    <!-- 						<i class="ss-icon ss-social">twitter</i> -->
                    twitter@Vinus
                </a>

                <a href="http://www.facebook.com/vinusapp">
                    <!-- 						<i class="ss-icon ss-social">facebook</i> -->
                    Facebook: Vinus
                </a>
            </div>
        </div>
    </footer>


</div>
</body>

</html>
